body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #283136;
  background-color: #eeeeee;
}

.visually-hidden {
  margin: -1px;

  position: absolute;
  width: 1px;
  height: 1px;

  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);

  overflow: hidden;
}

.button {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 18px;

  text-decoration: none;
  text-transform: uppercase;

  color: white;
  background-color: #fb565a;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.main-header {
  width: 100%;

  background-color: #eeeeee;
}

.header-container {
  margin: 0 auto;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;

  width: 1160px;
}

.header-logo a {
  width: 160px;
  height: 65px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.header-navigation {
  min-width: 600px;
}

.header-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.cart {
  min-width: 160px;
}

.header-navigation a,
.cart a {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

  text-decoration: none;
  text-transform: uppercase;

  color: black;
}

.header-navigation a:hover,
.header-navigation a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

.header-navigation a:active,
.cart a:active {
  color: #a6a6a6;
}

main {
  display: flex;
  flex-direction: column;

  background-color: #fff;
}

.carousel {
  width: 100%;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.carousel-container {
  margin: 0 auto;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 1160px;

  background-image: url(../Nerds.web/img/index_img/slide1.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.carousel .radio-container {
  align-self: center;
  position: absolute;
}

.carousel-paragraph span {
  display: block;
  margin-bottom: 20px;

  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  color: black;
}

.carousel-button {
  margin-top: 40px;

  min-width: 240px;
}

.order-sheet {
  margin: 0 auto;
  margin-bottom: 40px;
  padding-bottom: 80px;
  padding-right: 60px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 1160px;

  border-bottom: 2px solid #eeeeee;
}

.order-sheet article {
  width: 300px;
}

.order-sheet h2 {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;

  color: black;
}

.order-application a {
  background-color: #00ca74;
}

.order-application a:hover,
.order-application a:focus {
  background-color: #00bc6c;
}

.order-application a:active {
  background-color: #00aa62;
}

.order-presentation a {
  background-color: #efc84a;
}

.order-presentation a:hover,
.order-presentation a:focus {
  background-color: #eab534;
}

.order-presentation a:active {
  background-color: #e5a722;
}

.about-us {
  margin: 0 auto;
  margin-bottom: 46px;
  padding-bottom: 75px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1160px;

  border-bottom: 2px solid #eeeeee;
}

.about-us-paragraph {
  width: 700px;
}

.about-us-paragraph span {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  color: black;
}

.about-us-offers {
  width: 700px;

  order: 2;
}

.about-us-advantages {
  width: 380px;

  order: 3;
}

.about-us-offers h3,
.about-us-advantages h3 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 700;

  text-transform: uppercase;

  color: black;
}

.about-us-advantages ul {
  list-style: none;
}

.about-us-advantages span {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;

  color: black;
}

.about-us-advantages p {
  line-height: 18px;
}

.projects {
  margin: 0 auto;
  margin-bottom: 80px;
  padding-bottom: 50px;

  width: 1160px;

  border-bottom: 2px solid #eeeeee;
}

.projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style: none;
}

.projects a {
  text-decoration: none;

  opacity: 0.2;
}

.projects a:hover,
.projects a:focus {
  opacity: 1;
}

.projects a:active {
  opacity: 0.1;
}

.main-footer {
  width: 100%;
  background-color: #fff;
}

.map {
  background-color: #eeeeee;
  background-image: url(./img/index_img/map.jpg);
  background-size: 1600px 100%;
  background-repeat: no-repeat;
  background-position: center 0;
}

.map-content {
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 55px 0;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  width: 1160px;
}

.map-marker {
  margin-right: 235px;
  margin-top: -40px;

  width: 231px;
  height: 190px;
}

.feedback {
  margin-right: auto;

  width: 320px;
  height: 310px;

  background-color: white;
}

.feedback p {
  line-height: 18px;
}

.feedback-heading {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;

  color: black;
}

.index-drop-window {
  background-color: #fff;
}

.feedback-form h3 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  color: #000;
}

.feedback-form label {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 18px;

  color: #000;
}

.feedback-form input,
.feedback-form textarea {
  font: inherit;
  line-height: 18px;
}

.index-drop-window .close-cross {
  opacity: 0.3;
}

.index-drop-window .close-cross:focus,
.index-drop-window .close-cross:hover {
  opacity: 1;
}

.index-drop-window .close-cross:active {
  opacity: 0.1;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form input:hover::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder,
.feedback-form textarea:hover::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback-form input:-ms-input-placeholder,
.feedback-form input:hover:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder,
.feedback-form textarea:hover:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback-form input::-ms-input-placeholder,
.feedback-form input:hover::-ms-input-placeholder,
.feedback-form textarea::-ms-input-placeholder,
.feedback-form textarea:hover::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback-form input::placeholder,
.feedback-form input:hover::placeholder,
.feedback-form textarea::placeholder,
.feedback-form textarea:hover::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback-form input:focus::-webkit-input-placeholder,
.feedback-form textarea:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.feedback-form input:focus::-moz-placeholder,
.feedback-form textarea:focus::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}

.feedback-form input:focus:-moz-placeholder,
.feedback-form textarea:focus:-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}

.feedback-form input:focus:-ms-input-placeholder,
.feedback-form textarea:focus:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.feedback-form input:invalid {
  color: #e74246;
}

.social-footer {
  margin: 0 auto;

  display: flex;

  width: 1160px;

  background-color: #fff;
}

.social-footer ul {
  list-style: none;
}

.social-footer li {
  margin-bottom: 70px;

  display: inline-block;

  background-color: #e1e1e1;
}

.social-footer li:hover,
.social-footer li:focus {
  background-color: #e74246;
}

.social-footer li:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.social-footer p {
  margin-left: 140px;

  line-height: 22px;
}

.social-footer span {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  color: black;
}
